<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
  <add name="myDB" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=C:\USERS\LENOVO\SOURCE\REPOS\SVETOTEHNIKA\SVETOTEHNIKA\BIN\DEBUG\DB.MDF;Integrated Security=True"/>
  <add name="svetotehnika.Properties.Settings.dbConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=C:\USERS\LENOVO\SOURCE\REPOS\SVETOTEHNIKA\SVETOTEHNIKA\BIN\DEBUG\DB.MDF;Integrated Security=True" providerName="System.Data.SqlClient"/>
 </connectionStrings>
</configuration>
